<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>heiming aben</title>
<link rel="stylesheet" href="https://use.typekit.net/wkx6zoz.css">
<link href="./css/dist.bundle.css" rel="stylesheet"></head>

<body>
    <section class="py-3 text-sm bg-gray-300 top-bar lg:hidden">
    <div class="container mx-auto bg-transparent">   
        <a href="#" class="ml-4">Afspraak maken</a>
        <a href="#" class="float-right mr-4">Contact</a>
    </div>
</section>
    <header class="container flex mx-auto topbar">
    <div class="relative flex flex-wrap items-center justify-between w-full sm:pr-0 lg:mx-6 xl:mx-24">
        <div class="flex items-center mx-auto text-center text-white lg:mr-12 xl:mr-20">
            <a href="index.html">
                <svg class="logo" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.7 136.3" style="enable-background:new 0 0 491.7 136.3;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #1D1D1B;
                        }
                    </style>
                    <g>
                        <g>
                            <path class="st0" d="M31.4,63.8h-7.2V13.3h7.2v22.8c0.8-1.8,2.3-3.2,4.3-4.2c2-1,4.1-1.5,6-1.5c8.3,0,13.2,5.5,13.2,14.8v18.6
                                        h-7.2V45.6c0-5-3.1-8.1-7.3-8.1c-4.8,0-9.1,2.9-9.1,8.8V63.8z"></path>
                            <path class="st0" d="M97.1,50h-26c0.6,5,4.7,8.2,10,8.2c3.7,0,7.2-1.7,8.9-4.7l5.9,2.6c-2.8,5.5-8.6,8.4-15.1,8.4
                                        c-4.8,0-8.8-1.6-12-4.8c-3.2-3.2-4.8-7.3-4.8-12.4s1.6-9.2,4.8-12.3c3.2-3.2,7.2-4.7,12-4.7c4.8,0,8.7,1.5,11.8,4.7
                                        c3.1,3.1,4.6,7.1,4.6,12.3C97.1,48.7,97.1,49.5,97.1,50z M90.1,44.8c-0.6-5-4.3-8.1-9.3-8.1c-5.1,0-9,3.1-9.7,8.1H90.1z"></path>
                            <path class="st0" d="M114.5,17.9c0,2.6-2,4.6-4.8,4.6c-2.6,0-4.8-2-4.8-4.6s2.2-4.6,4.8-4.6C112.5,13.3,114.5,15.3,114.5,17.9z
                                            M106.2,63.8V31.1h7.1v32.7H106.2z"></path>
                            <path class="st0" d="M154.1,46.2v17.6h-7.2V45.5c-0.1-5-2.7-8-6.7-8c-4.7,0-8.3,2.8-8.3,8.8v17.6h-7.2V31.1h7.2V36
                                        c1-2,2.5-3.4,4.5-4.3c2-0.9,4-1.3,5.8-1.3c5,0,8.4,2.2,10.3,6.5c2.4-4.3,6-6.5,11-6.5c8.1,0,12.6,5.3,12.6,14.6v18.8H169V45.6
                                        c0-5-2.7-8.1-6.9-8.1C157.3,37.5,154.1,41,154.1,46.2z"></path>
                            <path class="st0" d="M195.6,17.9c0,2.6-2,4.6-4.8,4.6c-2.6,0-4.8-2-4.8-4.6s2.2-4.6,4.8-4.6C193.6,13.3,195.6,15.3,195.6,17.9z
                                            M187.3,63.8V31.1h7.1v32.7H187.3z"></path>
                            <path class="st0" d="M213.1,63.8h-7.2V31.1h7.2V36c1.8-3.6,6.1-5.6,10-5.6c7.9,0,12.5,5.1,12.5,14.4v19h-7.2V45.6
                                        c0-5.1-2.7-8.1-6.9-8.1c-4.8,0-8.4,2.8-8.4,8.8V63.8z"></path>
                            <path class="st0" d="M252.2,67.9c1.7,3.4,5.5,5.5,9.2,5.5c7.3,0,10.9-4.3,10.9-12.9v-1.7c-1.9,3.6-6.5,5.7-11.1,5.7
                                        c-4.6,0-8.5-1.5-11.7-4.7c-3.2-3.2-4.8-7.2-4.8-12.3c0-5.1,1.6-9.2,4.8-12.4c3.2-3.2,7.1-4.8,11.7-4.8c4.5,0,9.1,2.1,11.1,5.5
                                        v-4.8h7.1V59c0,14.1-6,21.1-18,21.1c-6.4,0-12-3.4-15.1-9.2l2.9-1.5L252.2,67.9z M262,37.4c-2.8,0-5.2,1-7.1,2.9
                                        c-1.9,1.9-2.9,4.3-2.9,7.2c0,3,1,5.4,2.9,7.3c1.9,1.9,4.3,2.8,7.1,2.8c2.6,0,5-0.9,7-2.7c2-1.9,3.1-4.3,3.1-7.4
                                        C272.1,41.3,267.7,37.4,262,37.4z"></path>
                            <path class="st0" d="M335.5,63.8v-4.7c-2,3.4-6.7,5.4-11,5.4c-4.6,0-8.5-1.6-11.8-4.8c-3.2-3.2-4.8-7.3-4.8-12.3s1.6-9.1,4.8-12.3
                                        c3.3-3.2,7.2-4.8,11.8-4.8c4.3,0,8.8,1.9,11,5.3v-4.6h7.1v32.7H335.5z M332.3,40.1c-2-1.8-4.3-2.7-7-2.7c-2.8,0-5.2,0.9-7.1,2.8
                                        c-1.9,1.8-2.9,4.2-2.9,7.1s1,5.4,2.9,7.3c2,1.9,4.3,2.9,7.1,2.9c5.6,0,10.1-4,10.1-10.2C335.4,44.3,334.4,41.9,332.3,40.1z"></path>
                            <path class="st0" d="M361.3,63.8h-7.2V13.3h7.2v22.5c2-3.4,6.2-5.4,11-5.4c4.6,0,8.4,1.5,11.6,4.7s4.8,7.3,4.8,12.4
                                        c0,5-1.6,9.1-4.8,12.3c-3.2,3.2-7,4.8-11.6,4.8c-4.5,0-9-2-10.9-5.5V63.8z M371.4,57.5c2.7,0,5.1-1,7-2.9c1.9-1.9,2.9-4.3,2.9-7.3
                                        c0-5.9-4.3-9.9-9.9-9.9c-2.7,0-5,0.9-7,2.7c-2,1.8-3,4.2-3,7.2C361.4,53.5,365.8,57.5,371.4,57.5z"></path>
                            <path class="st0" d="M429.1,50h-26c0.6,5,4.7,8.2,10,8.2c3.7,0,7.2-1.7,8.9-4.7l5.9,2.6c-2.8,5.5-8.6,8.4-15.1,8.4
                                        c-4.8,0-8.8-1.6-12-4.8s-4.8-7.3-4.8-12.4s1.6-9.2,4.8-12.3c3.2-3.2,7.2-4.7,12-4.7c4.8,0,8.7,1.5,11.8,4.7
                                        c3.1,3.1,4.6,7.1,4.6,12.3C429.1,48.7,429.1,49.5,429.1,50z M422.1,44.8c-0.6-5-4.3-8.1-9.3-8.1c-5.1,0-9,3.1-9.7,8.1H422.1z"></path>
                            <path class="st0" d="M445.4,63.8h-7.2V31.1h7.2V36c1.8-3.6,6.1-5.6,10-5.6c7.9,0,12.5,5.1,12.5,14.4v19h-7.2V45.6
                                        c0-5.1-2.7-8.1-6.9-8.1c-4.8,0-8.4,2.8-8.4,8.8V63.8z"></path>
                        </g>
                        <g>

                            <rect x="313.2" y="95" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 425.8056 -203.3502)" class="st0" width="2.7" height="32.4"></rect>

                            <rect x="179.4" y="95" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 291.9425 -69.4871)" class="st0" width="2.7" height="32.4"></rect>
                            <path class="st0" d="M272,124.9c-8.5,0-14.1-1.1-15.8-2c-1.7-1-3.3-3-4.7-6c-0.1-0.2-0.2-0.4-0.3-0.6c-0.8-1.7-1.4-3.1-3.6-3.3
                                        c-2.2,0.1-2.9,1.6-3.6,3.3c-0.1,0.2-0.2,0.4-0.3,0.6c-1.5,3-3,5-4.7,6c-1.7,1-7.4,2-15.8,2c-2.3,0-13.8-0.1-16.3-1.2
                                        c-2-0.9-3.1-1.9-3.8-3.3c-0.8-1.6-0.7-3.9-0.7-4c0.1-2.3,0.2-3.4,0.7-4.6c0.4-1.1,1.4-2.6,4.4-3.4l0.1,0c3.4-0.9,7-1.8,14.7-2
                                        c0.3,0,0.6,0,0.9,0c7.2,0,15.7,1.5,18.1,2c1.7,0.4,5.3,0.7,6.4,0.7c0.7-0.1,4.6-0.4,6.3-0.7c2.4-0.5,10.9-2,18.1-2
                                        c0.3,0,0.6,0,0.9,0c7.7,0.1,11.2,1.1,14.7,2l0.1,0c3,0.8,3.9,2.3,4.4,3.4c0.5,1.2,0.7,2.3,0.7,4.6c0,0.1,0.1,2.5-0.7,4
                                        c-0.7,1.4-1.8,2.4-3.8,3.3C285.8,124.8,274.3,124.9,272,124.9z M272.9,108.9c-1.5,0-2.4,0.1-2.4,0.1c-13.4,0.5-16.6,2.7-17.3,3.9
                                        c-0.6,1,0.6,3.5,2.7,6.1c1.8,2.2,5.1,2.6,7.4,2.8c0.3,0,0.5,0.1,0.7,0.1c2.2,0.3,6.1,0.5,10.2,0.5c3.1,0,6-0.1,8.2-0.3
                                        c5.3-0.5,6.2-1.6,6.8-2.3l0.1-0.1c0.5-0.6,0.9-5.2,0.2-6.9c-0.6-1.6-2.7-2.3-5.8-2.9C279.4,109,275.5,108.9,272.9,108.9z
                                            M222.1,108.9c-2.5,0-6.4,0.2-10.8,1c-3.1,0.6-5.3,1.3-5.8,2.9c-0.6,1.7-0.3,6.3,0.2,6.9l0.1,0.1c0.6,0.7,1.5,1.9,6.8,2.3
                                        c2.2,0.2,5.1,0.3,8.2,0.3c4.1,0,8-0.2,10.2-0.5c0.2,0,0.5-0.1,0.7-0.1c2.4-0.3,5.6-0.7,7.4-2.8c2.2-2.6,3.3-5.1,2.7-6.1
                                        c-0.7-1.2-3.9-3.4-17.3-3.9C224.6,108.9,223.7,108.9,222.1,108.9z"></path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>

        <div class="absolute right-0 pr-4 lg:hidden">
            <a href="#" class="relative inline-block mr-2"><span class="selection-toggle reservations"><img src="./images/de49a3b529381348144a3d853476601f.svg" class="inline-block" alt="Reserveren"></span></a>
            <a href="#" class="relative inline-block pr-4"><span class="block opening-hours"><img src="./images/717ea43961f7b8dc459bb4b36655e15e.svg" class="inline-block" alt="Openingstijden"><span class="status open"></span></span></a>
        </div>

        <div class="order-first block lg:order-last lg:flex lg:items-center lg:flex-grow">

            <button class="absolute left-0 block float-right w-10 h-3 pl-4 cursor-pointer z-100 nav-toggle lg:hidden">
                <span class="relative block hamburger"></span>
            </button>

            <div id="menu--mobile" class="fixed top-0 flex flex-col w-4/5 h-screen overflow-y-auto bg-white nav">

                <div class="">
                    <button class="block float-right w-10 h-6 pt-1 pb-1 pl-2 pr-2 mt-3 mr-2 cursor-pointer nav-toggle">
                        <span class="relative block hamburger open"></span>
                    </button>
                </div>

                <div class="relative menu">
                    <a class="relative pl-6 has-sub closed menu__link">Brillen</a>
                    <div class="submenu">
                        <a href="#" class="pl-6 menu__link level-back">Terug</a>
                        <a href="damesbrillen.html" class="pl-6 menu__link">Damesbrillen</a>
                        <a href="stijlconfigurator.html" class="pl-6 menu__link">Herenbrillen</a>
                        <a href="detailpage.html" class="pl-6 menu__link">Zonnebrillen</a>
                        <a href="#" class="pl-6 menu__link">Kinderbrillen</a>
                    </div>
                    <a href="lensplan.html" class="relative pl-6 menu__link">Lenzen</a>
                    <a href="#" class="relative pl-6 has-sub menu__link">Oogzorg</a>
                    <div class="submenu ">
                        <a href="#" class="pl-6 menu__link level-back">Terug</a>
                        <a href="#" class="pl-6 menu__link">Oogmeting</a>
                        <a href="#" class="pl-6 menu__link">Optometrie</a>
                        <a href="#" class="pl-6 menu__link">Orthoptie</a>
                        <a href="#" class="pl-6 menu__link">Kinderorthopie</a>
                        <a href="#" class="pl-6 menu__link">Kindoogzorg</a>
                        <a href="#" class="pl-6 menu__link">Oogmeting</a>
                        <a href="#" class="pl-6 menu__link">Orthoptie</a>
                        <a href="#" class="pl-6 menu__link">Lorem</a>
                    </div>
                    <a class="pl-6 menu__link">Horen</a>
                    <a class="pl-6 menu__link">Info</a>
                    <a class="pl-6 menu__link">Reserveren (0)</a>
                    <a class="pl-6 menu__link">Contact</a>
                </div>

                <div class="flex flex-col flex-grow float-left w-full pl-6 mt-10 lg:float-none lg:w-auto lg:hidden">
                    <div class="my-auto">
                        <p>
                            <strong>Heiming Aben</strong><br>
                            Rijksweg 52 Reuver<br>
                            077 474 56 56
                        </p>
                    </div>
                </div>
            </div>

            <div id="menu" class="flex-row items-center flex-grow hidden bg-white nav lg:flex">
                <div class="lg:hidden">
                    <button id="menu-toggle" class="block float-right w-8 h-6 pt-1 pb-1 pl-2 mt-3 border-l border-gray-400 border-solid cursor-pointer nav-toggle">
                        <span class="relative block hamburger"></span>
                    </button>
                </div>

                <nav class="float-left text-base lg:flex-grow xl:-ml-4">
                    <div class="inline has-sub">
                        <a href="#" class="menu__link">Brillen</a>
                        <div class="bg-white menu__dropdown">
                            <div class="container pt-32 pb-16 mx-auto">
                                <div class="flex">
                                    <div class="flex justify-center w-full mx-4 lg:mx-auto lg:w-full xl:w-4/5">
                                        <a href="damesbrillen.html" class="glasses">
                                            <span class="absolute self-center">Damesbrillen</span>
                                            <img class="object-cover w-full h-full" src="./images/83d3b8a51078b00d52bb3de5d93ba6bf.jpg" alt="">
                                        </a>
                                        <a href="stijlconfigurator.html" class="glasses">
                                            <span class="absolute self-center">Herenbrillen</span>
                                            <img class="object-cover w-full h-full" src="./images/6b37aade1aaf3b264c20d6d14dbe7286.jpg" alt="">
                                        </a>
                                        <a href="detailpage.html" class="glasses">
                                            <span class="absolute self-center">Zonnebrillen</span>
                                            <img class="object-cover w-full h-full" src="./images/bef6daa798105591fc3124b550a2eff9.jpg" alt="">
                                        </a>
                                        <a href="#" class="glasses glasses--kids">
                                            <span class="absolute self-center">Kinderbrillen</span>
                                            <img class="object-cover w-full h-full" src="./images/63fc08e0c120fcc2b37e0090ad95c1c2.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inline has-sub">
                        <a href="#" class="menu__link">Lenzen</a>
                        <div class="bg-white menu__dropdown">
                            <div class="container pt-32 pb-16 mx-auto">
                                <div class="flex">
                                    <div class="flex justify-center w-full mx-4 lg:mx-auto lg:w-4/5 xl:w-3/5">
                                        <div class="flex flex-col w-1/3">
                                            <a href="#">Oogmeting</a>
                                            <a href="#">Optometrie</a>
                                            <a href="#">Orthoptie</a>
                                        </div>
                                        <div class="flex flex-col w-1/3">
                                            <a href="#">Kinderorthoptie</a>
                                            <a href="#">Kindoogzorg</a>
                                        </div>
                                        <div class="flex flex-col w-1/3">
                                            <img src="./images/c1d8aeb5210062eb98d427e200c94d8e.jpg" class="w-full" alt="Oogmeting">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inline has-sub">
                        <a href="#" class="menu__link">Oogzorg</a>
                        <div class="bg-white menu__dropdown">
                            <div class="container pt-32 pb-16 mx-auto">
                                <div class="flex">
                                    <div class="flex justify-center w-full mx-4 lg:mx-auto lg:w-4/5 xl:w-3/5">
                                        <div class="flex flex-col w-1/3">
                                            <a href="#">ZEISS glazen</a>
                                            <a href="#">ZEISS Visufit 1000</a>
                                        </div>
                                        <div class="flex flex-col w-1/3">
                                            <a href="#">ZEISS i.Scription</a>
                                            <a href="#">Lorem ipsum</a>
                                        </div>
                                        <div class="flex flex-col w-1/3">
                                            <img src="./images/c1d8aeb5210062eb98d427e200c94d8e.jpg" class="w-full" alt="Oogmeting">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <a href="./damesbrillen.html" class="menu__link">Horen</a>
                </nav>

                <nav class="float-left w-full lg:float-none lg:w-auto">
                    <a href="#" class="menu__link">Afspraak maken</a>
                    <a href="#" class="menu__link">Info</a>
                    <a href="#" class="menu__link"><span class="selection-toggle reservations"><img src="./images/de49a3b529381348144a3d853476601f.svg" class="inline-block" alt="Reserveren"> <span class="count">4</span></span></a>
                    <div class="inline has-sub has-sub-no-arrow">
                        <a href="#" class="menu__link"><span class="block opening-hours"><img src="./images/717ea43961f7b8dc459bb4b36655e15e.svg" class="inline-block" alt="Openingstijden"><span class="status open"></span></span></a>
                        <div class="bg-white menu__dropdown">
                            <div class="container pt-32 pb-16 mx-auto">
                                <div class="flex">
                                    <div class="w-full mx-4 lg:mx-auto lg:w-7/12 xl:w-5/12">
                                        <div class="flex w-full clearfix">
                                            <p class="font-semibold mb-4">Openingstijden</p><p>
                                        </p></div>
                                        <div class="flex">
                                            <div class="flex flex-col w-1/2">
                                                <p class="mb-4">Op dit moment zijn we geopend. <span class="inline-block opening-hours ml-1"><img src="./images/717ea43961f7b8dc459bb4b36655e15e.svg" class="inline-block" alt="Openingstijden"><span class="status open"></span></span></p>
                                                <p>Aangepaste openingstijden:<br> Carnavalsdinsdag zijn we gesloten.</p>
                                            </div>
                                            <div class="flex flex-col w-1/2">
                                                <p class="text-right leading-relaxed">
                                                    Dinsdag | 09:00 - 18.00<br>
                                                    Woensdag | 09:00 - 18.00<br>
                                                    Donderdag | 09:00 - 18.00<br>
                                                    Vrijdag | 09:00 - 21:00<br>
                                                    Zaterdag | 09:00 - 17:00
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </nav>

                <div class="flex flex-col flex-grow float-left w-full pl-6 mt-10 lg:float-none lg:w-auto lg:hidden">
                    <div class="my-auto">
                        <strong>Heiming Aben</strong><br>
                        Rijksweg 52 Reuver<br>
                        077 474 56 56
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <main class="flex flex-grow">
        <div class="container mx-auto">
            <div class="flex h-full ml-4 mr-4 lg:mx-6 xl:mx-24">
                <article class="flex flex-col w-full">
                    <nav class="mb-8 lg:mb-20 breadcrumb">
                        <ol class="">
                            <li><a href="#">Lensplan</a></li>
                            <li><a href="#">{{ entry.title }}</a></li>
                        </ol>
                    </nav>


                        {% for module in entry.modules %}

                            {% include '_modules/' ~ module.type %}
                        
                        {% endfor %}

                    <section class="order-last w-2/3 mx-auto my-12 lg:my-24 text-center lg:w-full">
    <h2 class="mb-4 text-xl font-medium">Nieuwsbrief</h2>
    <p class="text-base font-light">Als eerste op de hoogte van acties, nieuwe collecties en veel meer&hellip;</p>
    <form class="mt-4 mb-4 lg:w-56 lg:mx-auto">
        <div class="mb-6">
            <input class="w-full px-3 py-2 leading-tight text-center text-gray-900 placeholder-gray-900 border-b border-gray-800 appearance-none focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="email adres">
        </div>
        <button class="w-full tracking-widest uppercase btn btn--fill focus:outline-none focus:shadow-outline" type="button"><span>Aanmelden</span></button>
    </form>
    <p class="hidden text-sm tracking-wide text-center text-gray-900 lg:block">
        Je e-mail adres wordt alleen gebruikt voor de nieuwbrief en zal niet aan derden worden <br>verstrekt. Je kunt je op elk moment uitschrijven voor de nieuwsbrief.
    </p>
</section>
                </article>
            </div>
        </div>
    </main>

    <div id="selection" class="selection">
    <div class="p-8">
        <button class="absolute top-0 right-0 w-10 h-10 pt-1 pb-1 pl-2 pr-2 mt-3 mr-2 cursor-pointer selection-toggle">
            <span class="relative block hamburger open"></span>
        </button>

        <h2 class="mb-8">Selectie (4)</h2>

        <div class="flex flex-row flex-wrap mb-4">
            <div class="w-1/2"><a href="#"><img class="w-full" src="./images/fd0db5f2ac2c1ac2f60ae8555c3d5fec.jpg" alt=""></a></div>
            <div class="w-1/2 pl-4">
                <h2 class="text-gray-1000"><a href="#">Anne et Valentin</a></h2>
                <p class="mb-2 text-sm text-gray-500">34344</p>
                <a href="#" class="text-sm text-gray-1000">verwijderen</a>
            </div>
        </div>
        <div class="flex flex-row flex-wrap mb-4">
            <div class="w-1/2"><a href="#"><img class="w-full" src="./images/fd0db5f2ac2c1ac2f60ae8555c3d5fec.jpg" alt=""></a></div>
            <div class="w-1/2 pl-4">
                <h2 class="text-gray-1000"><a href="#">Anne et Valentin</a></h2>
                <p class="mb-2 text-sm text-gray-500">34344</p>
                <a href="#" class="text-sm text-gray-1000">verwijderen</a>
            </div>
        </div>
        <div class="flex flex-row flex-wrap mb-4">
            <div class="w-1/2"><a href="#"><img class="w-full" src="./images/fd0db5f2ac2c1ac2f60ae8555c3d5fec.jpg" alt=""></a></div>
            <div class="w-1/2 pl-4">
                <h2 class="text-gray-1000"><a href="#">Anne et Valentin</a></h2>
                <p class="mb-2 text-sm text-gray-500">34344</p>
                <a href="#" class="text-sm text-gray-1000">verwijderen</a>
            </div>
        </div>
        <div class="flex flex-row flex-wrap mb-4">
            <div class="w-1/2"><a href="#"><img class="w-full" src="./images/fd0db5f2ac2c1ac2f60ae8555c3d5fec.jpg" alt=""></a></div>
            <div class="w-1/2 pl-4">
                <h2 class="text-gray-1000"><a href="#">Anne et Valentin</a></h2>
                <p class="mb-2 text-sm text-gray-500">34344</p>
                <a href="#" class="text-sm text-gray-1000">verwijderen</a>
            </div>
        </div>

        <a href="#" class="w-1/2 text-center btn btn--border">Reserveren</a>
    </div>
</div>
    <footer class="text-sm">
    <div class="container flex pt-8 pb-16 mx-auto">
        <div class="w-full mx-6 xl:mx-24">
            <div class="flex flex-wrap clearfix">
                <div class="flex flex-col order-3 float-left w-1/2 mb-6 lg:order-none lg:w-2/12 lg:mb-0">
                    <h6>Brillen</h6>
                    <a href="#">Collectie</a>
                    <a href="#">Stijlassistent Dames</a>
                    <a href="#">Stijlassistent Heren</a>
                    <a href="#">Ons werk</a>
                    <a href="#">Lorem ipsum</a>
                </div>
                <div class="flex flex-col order-4 float-left w-1/2 mb-6 lg:order-none lg:w-2/12 lg:mb-0">
                    <h6>Lenzen</h6>
                    <a href="#">Lensplan</a>
                    <a href="#">Stijlconfigurator</a>
                    <a href="#">Ons werk</a>
                    <a href="#">Lorem ipsum</a>
                </div>
                <div class="flex flex-col order-5 float-left w-1/2 mb-6 lg:order-none lg:w-2/12 lg:mb-0">
                    <h6>Oogzorg</h6>
                    <a href="#">ZEISS glazen</a>
                    <a href="#">ZEISS Visufit 1000</a>
                    <a href="#">ZEISS i.Scription</a>
                    <a href="#">Lorem ipsum</a>
                </div>
                <div class="flex flex-col order-6 float-left w-1/2 mb-6 lg:order-none lg:w-2/12 lg:mb-0">
                    <h6>Info</h6>
                    <a href="#">ZEISS glazen</a>
                    <a href="#">ZEISS Visufit 1000</a>
                    <a href="#">ZEISS i.Scription</a>
                    <a href="#">Lorem ipsum</a>
                </div>
                <div class="flex flex-col order-2 w-full mb-12 text-center lg:order-none lg:w-2/12 lg:text-left lg:mb-0">
                    <h6 class="hidden lg:block">Volg ons</h6>
                    <div class=" mx-auto lg:mx-0 lg:flex lg:flex-col lg:mx-none">
                        <a href="#" class="inline mr-0 lg:flex lg:flex-row lg:flex-wrap">
                            <span class="w-4 h-4 lg:w-3 lg:h-3 mr-2">
                                <img src="./images/73e2d42364e9e2ff12b9f49f2acd92a9.svg" class="inline " alt="Facebook">
                            </span>
                            <span class="hidden lg:inline">Facebook</span>
                        </a>
                        <a href="#" class="inline mr-0 lg:flex lg:flex-row lg:flex-wrap">
                            <span class="w-4 h-4 lg:w-3 lg:h-3 mr-2">
                                <img src="./images/ed27399f92123220f8a8e0b46c0fdc30.svg" class="inline" alt="Instagram">
                            </span>
                            <span class="hidden lg:inline">
                                Instagram
                            </span>
                            </a>
                    </div>
                </div>
                <div class="flex flex-col order-1 w-full text-center lg:order-none lg:w-2/12">
                    <p class="mb-6">
                        077 474 56 56<br>
                        <a href="mailto:info@heimingaben.nl">info@heimingaben.nl</a><br>
                        Rijksweg 52 Reuver
                    </p>

                    <p class="hidden lg:block">
                        TAAL: <a href="">NL</a> / <a href="">DE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
    <script src="assets/js/index.js"></script>
<script type="text/javascript" src="/assets/js/dist.bundle.js"></script></body>

</html>