{% set image = module.images.first.url %}

 <section class="lg:flex lg:flex-wrap">
    <picture class="block mb-3 lg:mb-0 lg:flex lg:w-6/12 xl:w-7/12">
        <img class="object-cover w-full" src="{{ image }}" alt="Zeiss">
     </picture>

     <div class="lg:w-6/12 xl:w-5/12 lg:pt-8 lg:pl-8 lg:pb-8">
        <h2 class="mb-2 text-3xl font-bold leading-none lg:text-6xl lg:font-medium lg:-ml-32 lg:mb-12 lg:mt-4 lg:mr-20">{{ module.imagetitle }}</h2>
            <p class="mb-4 leading-relaxed lg:leading-large lg:ml-12 xl:ml-20 lg:mt-12">{{ module.imagetext }}</p>
     </div>
</section>